@model BrightBoostApplication.Models.Student
@{
    ViewBag.Title = "Student Terms";
    ViewBag.description = "stuTerms";
}

<div class="card">
    <div class="card-header">
        <div class="d-flex align-items-center">
            <h3 class="mr-auto">Subject Registration Module</h3>
            <div class="btn-group" role="group">
                <button id="addNew" class="btn btn-primary"> <i class='fa fa-plus' style='color: white'></i> Register</button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table id="@ViewBag.description" class="table table-bordered table-striped" style="border-spacing: 0;" width="100%"></table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<br />

<div class="modal fade" id="assignModal" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Register Subjects</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="select_item_list" class="form-label">Subjects</label>
                    <select id="select_item_list" class="form-control item-selection" name="select_item_list" multiple></select>
                </div>
                <input type="hidden" id="student_id" value="@Model.Id"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnAddSubjectsRegistration">Add</button>
            </div>
        </div>
    </div>
</div>

<link href="~/lib/datatables/datatables.min.css" rel="stylesheet" />
<link href="~/lib/select2/dist/css/select2.min.css" rel="stylesheet" />
<link href="~/css/styles.css" rel="stylesheet" />
@section scripts
    {

    <script src="~/lib/datatables/datatables.min.js"></script>
    <script src="~/lib/select2/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {

            var DataTable = null;

            function getAll() {
                $.blockUI({ message: '<p>Loading..</p>' });
                $.ajax({
                    type: "GET",
                    url: `/StudentsTerm/MyRegistrations?id=${@Model.Id}`,
                    success: function (result) {
                        $.unblockUI();
                        if (result) {
                            if (DataTable == null) {
                                initializeDataTable(result);
                            } else {
                                updateDataTable(result);
                            }
                        } else {
                            console.log("No Items found.");
                        }
                    },
                    error: function (error) {
                        $.unblockUI();
                    }
                });
            }

            function updateDataTable(updatedData) {
                DataTable.clear().rows.add(updatedData).draw();
            }

            function initializeDataTable(data) {
                DataTable = $(`#@ViewBag.description`).DataTable({
                    data: data,
                    columns: [
                        {
                            title: 'Subject name',
                            data: 'subjectName'
                        },
                    ]
                });
            }

            getAll();

            $("#addNew").on("click", function (e) {
                loadOptionItems();
                $('#assignModal').modal('show');
            });

            $('#btnAddSubjects').on('click', function (e) {
                var Ids = $("#select_item_list").val();
                var requestData = {
                    StudentId: $('#student_id').val()
                };

                if (Ids && Ids.length > 0) {
                    requestData.SubjectIds = Ids;
                } else {
                    requestData.RemoveAll = true;
                }

                $.ajax({
                    url: "/StudentsTerms/AddSubjectMapping",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify(requestData),
                    dataType: "json",
                    success: function (data) {
                        $('#assignModal').modal('hide');
                        if (data.status === true) {
                            swal({
                                title: 'Subjects Mapping',
                                text: 'Successfully Mapping!',
                                option: "success",
                                icon: "success",
                                timer: 3000
                            });
                            getAll();
                        } else {
                            swal({
                                title: 'Mapping Failed!',
                                text: data.message || 'Could Not mapping!',
                                option: "error",
                                icon: "error",
                                timer: 3000
                            });
                        }
                    },
                    error: function (xhr, status, error) {

                        console.error("Error:", status, error);
                    },
                });
            });

            function loadOptionItems(id) {
                $.ajax({
                    type: "GET",
                    url: "/StudentsTerm/GetAllCurrentCourse",
                    success: function (result) {
                        if (result) {
                            $('#select_item_list').html('');
                            $('#select_item_list').append($("<option></option>"));
                            $.each(result, function (index, item) {
                                $('#select_item_list').append($('<option></option>').val(item.termCourseId).html(item.subjectName));
                            });
                            $.ajax({
                                type: "GET",
                                dataType: "json",
                                data: {
                                    id: id
                                },
                                url: `/StudentsTerm/MyRegistrations?id=${@Model.Id}`,
                                success: function (res) {
                                    $('#assignModal #select_item_list').select2({
                                        placeholder: 'Select Subjects',
                                        dropdownParent: $('#assignModal'),
                                        tags: true
                                    });
                                    if (res) {
                                        var MappedList = res.map(a => a.termCourseId);
                                        $("#select_item_list").val(MappedList).trigger('change');
                                    } else {
                                        console.log("No Subjects found.");
                                    }
                                },
                                error: function (error) {
                                    $.unblockUI();
                                }
                            });
                            
                        }
                    },
                    error: function (error) {
                        $.unblockUI();
                    }
                });
            }

            $('#btnAddSubjectsRegistration').on('click', function (e) {
                var Ids = $("#select_item_list").val();
                var requestData = {
                    StudentId: $('#student_id').val()
                };

                if (Ids && Ids.length > 0) {
                    requestData.SubjectIds = Ids;
                } else {
                    requestData.RemoveAll = true;
                }

                $.ajax({
                    url: "/StudentsTerm/AddSubjectMapping",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify(requestData),
                    dataType: "json",
                    success: function (data) {
                        $('#assignModal').modal('hide');
                        if (data.status === true) {
                            swal({
                                title: 'Subjects Registered',
                                text: 'Successfully Mapping!',
                                option: "success",
                                icon: "success",
                                timer: 3000
                            });
                            getAll();
                        } else {
                            swal({
                                title: 'Subjects Registeration Failed!',
                                text: data.message || 'Could Not mapping!',
                                option: "error",
                                icon: "error",
                                timer: 3000
                            });
                        }
                    }
                });
            });
        });

    </script>
}
