@model BrightBoostApplication.Models.TermCourse
@{
    ViewBag.Title = "Sessions Management";
}

<div class="card">
    <div class="card-header">
        <div class="d-flex align-items-center">
            <h3 class="mr-auto">@Model.Title Session Details</h3>
        </div>
    </div>
    <div class="card-body">
        <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
            <div class="row">
                <div class="col-sm-12">
                    <p>All sessions run from 3:30 PM to 5:30 PM</p>
                    <div class="table-responsive" id="sessionsTable">
                        <table id="sessionsCourse" class="table table-bordered table-striped" style="border-spacing: 0;" width="100%"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br />

<link href="~/lib/datatables/datatables.min.css" rel="stylesheet" />
@section scripts
    {

    <script src="~/lib/datatables/datatables.min.js"></script>
    <script>
        $(document).ready(function () {

            var sessionsDataTable = null;
            var TermCourseId = @Model.Id;

            function getAllSessions() {
                $.blockUI({ message: '<p>Loading..</p>' });
                $.ajax({
                    type: "GET",
                    url: "/StudentsTerm/GetAllSessions?id=" + TermCourseId,
                    success: function (result) {
                        $.unblockUI();
                        if (result.sessions) {
                            $('sessionsTable').html("");
                            $('sessionsTable').html(` <table id="sessionsCourse" class="table table-bordered table-striped" style="border-spacing: 0;" width="100%"></table>`);
                            initializeDataTable(result);

                        } else {
                            console.log("No sessions found.");
                        }
                    },
                    error: function (error) {
                        $.unblockUI();
                    }
                });
            }

            function updateDataTable(updatedData) {
                sessionsDataTable.clear().rows.add(updatedData).draw();
            }

            function initializeDataTable(result) {
                sessionsDataTable?.destroy();
                sessionsDataTable = $('#sessionsCourse').DataTable({
                    data: result?.sessions,
                    columns: [
                        {
                            title: 'Session Name',
                            data: 'sessionName'
                        },
                        {
                            title: 'Session Day',
                            data: 'sessionDay'
                        },
                        {
                            title: 'Session Venue',
                            data: 'sessionVenue'
                        },
                        {
                            title: 'Register',
                            render: function (data, type, row, meta) {
                                var text = '<div style="display:flex; justify-content:space-around">';

                                if (row?.id == result?.registeredSessionId) {
                                    text += "Currently Registered"
                                }
                                else if (row?.currentCap < row?.maxNumber){
                                    text += `<a href="#" class="btn-icon-split btn-sm btn btn-warning js-register" data-id="${row.id}">
                                            <span class="icon text-white-50" data-id="${row.id}"><i class='fa fa-plus' style='color: white' data-id="${row.id}"></i></span>
                                                </a>
                                                `;
                                }else{
                                    text += "Regsitration is Full"
                                }
                                
                                text += '</div>'
                                return text;
                            }
                        },
                    ]
                });
            }

            getAllSessions();

            $("#sessionsCourse").on("click", ".js-register", function (e) {
                var data = {
                    id: $(e.target).data('id')
                };
                swal({
                    title: "Comfirmation",
                    text: "Are you sure you want to register for this session!",
                    icon: "warning",
                    buttons: [
                        'No',
                        'Yes'
                    ],
                    dangerMode: true,
                }).then(function (isConfirm) {
                    if (isConfirm) {
                        $.blockUI({ message: '<p> Loading..</p>' });
                        $.ajax({
                            type: "POST",
                            data: data,
                            url: "/StudentsTerm/RegisterSession",
                            dataType: "json",
                            success: function (result) {
                                $.unblockUI();
                                if (result) {
                                    swal({
                                        title: 'Session Registered!',
                                        text: 'Successfully Registered!',
                                        option: "success",
                                        icon: "success",
                                        timer: 3000
                                    });
                                    getAllSessions();
                                } else {
                                    swal({
                                        title: 'Session Registration Failed!',
                                        text: 'Could Not be Registered!',
                                        option: "error",
                                        icon: "error",
                                        timer: 3000
                                    });
                                }
                            }
                        });
                        
                    } else {
                        swal("Cancelled", "Session Registration Cancelled   ", "error");
                    }
                })
            });

        });

    </script>
}