@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 style="color:white; font-weight:bold">WELCOME TO OFFICE OF PACIFIC OCEAN COMMISSIONER'S EVENT MANAGER</h1>
    <p><a href="https://opocbluepacific.org/" style="position: relative; margin-top: 100px;" class="btn btn-primary btn-lg">Visit our Website</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card card-outline card-primary">
            <div class="card-header">
                <h2 class="card-title">About The Website</h2>
            </div>
            <div class="card-body" style="min-height: 255px; text-align: justify;">
                <p>

                    The Pacific Ocean Initiatives Register has been established to track these projects/initiatives but a comprehensive calendar
                    of ocean events that has the capability to track the different events/workshops/meetings of these initiatives and partners was
                    not available.

                    This website allows you to manage the ocean events.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card card-outline card-primary">
            <div class="card-header">
                <h2 class="card-title">About the App</h2>
            </div>
            <div class="card-body" style="min-height: 255px; text-align: justify;">
                <p>
                    Keeping track with daily events can be a challenge. Download the app to view the calendar of Oceans events that will help the you in keeping track of the
                    ocean events in the region
                </p>
            </div>
        </div>
    </div>
</div>