@{
    ViewData["Title"] = "Home Page";
}
<style>
    .jumbotron {
        background-image: url("/wwwroot/lib/images/studentBg.jpg");
        background-size: cover;
    }
</style>
<div class="jumbotron">
    <h1 class="display-4">Bright Boost</h1>
    <hr class="my-4">
    <p>Academic support services provider</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/Index" role="button">Learn more</a>
    </p>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card card-outline card-primary">
            <div class="card-header">
                <h2 class="card-title">About The Website</h2>
            </div>
            <div class="card-body" style="min-height: 255px; text-align: justify;">
                <p>
                    Academic support services assist students in achieving their academic goals and get support on topics or subjects they find difficult to understand. Bright Boost provides educational support to students after school. Bright Boost offers term-wise tutoring services where the student can attend any number of sessions in a week. Sessions are currently offered only on weekdays from 3:30 PM to 5:30 PM and students can attend any of these sessions to seek guidance on their queries.
                </p>
                <ul>
                    <li>
                        Our training institution has always been committed to providing students with the highest quality educational resources and helping them become fully developed talents.
                    </li>
                    <li>
                        Our teaching team is composed of experienced and highly qualified teachers who are committed to tailoring the most suitable teaching plan for each student.
                    </li>
                    <li>
                        Whether it's language learning or subject guidance, we can provide students with comprehensive learning materials and resources to help them achieve better learning outcomes.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>