@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card card-outline card-primary">
            <div class="card-header">
                <h2 class="card-title">About The Website</h2>
            </div>
            <div class="card-body" style="min-height: 255px; text-align: justify;">
                
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card card-outline card-primary">
            <div class="card-header">
                <h2 class="card-title">About the App</h2>
            </div>
            <div class="card-body" style="min-height: 255px; text-align: justify;">
               
            </div>
        </div>
    </div>
</div>