@{
    ViewBag.Title = "Terms Management";
}

<div class="card">
    <div class="card-header">
        <div class="d-flex align-items-center">
            <h3 class="mr-auto">Terms Management</h3>
            <div class="btn-group" role="group">
                <button id="addNew" class="btn btn-primary"> <i class='fa fa-plus' style='color: white'></i> Add</button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table id="terms" class="table table-bordered table-striped" style="border-spacing: 0;" width="100%"></table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<br />

<div class="modal fade" id="addNewModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <table style="width: 100%">
                    <tr>
                        <td style="width: 100%">
                            <h4 class="modal-title" id="myModalLabel">Add Term</h4>
                        </td>
                    </tr>
                </table>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <label class="label" for="term_name"><b>Term Name </b></label>
                        <input type="text" id="term_name" class="form-control" name="term_name" style="width:100%" />
                        <span id="term_empty_error" class="text-danger small" style="display:none">Term Name Required</span>
                        <br />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label class="label" for="start_date"><b>Start Date </b></label>
                        <input type="date" id="start_date" class="form-control" name="start_date" style="width:100%" />
                        <span id="sd_empty_error" class="text-danger small" style="display:none">Start Date Required</span>
                        <br />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label class="label" for="end_date"><b>End Date </b></label>
                        <input type="date" id="end_date" class="form-control" name="end_date" style="width:100%" />
                        <span id="ed_empty_error" class="text-danger small" style="display:none">End Date Required</span>
                        <br />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a class="btn btn-primary addItem" id="btnSaveitem">Save</a>
            </div>
        </div>
    </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="editModalLabel">Edit Term</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="edit_term_Id" class="form-control" style="width: 100%" name="Id" />
                <div class="row">
                    <div class="col-md-12">
                        <label class="label" for="edit_term_name"><b>Term Name </b></label>
                        <input type="text" id="edit_term_name" class="form-control" style="width: 100%" name="TermName" />
                        <span id="edit_term_empty_error" class="text-danger small" style="display:none">Term Name Required</span>
                        <br />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label class="label" for="edit_start_date"><b>Start Date </b></label>
                        <input type="date" id="edit_start_date" class="form-control" style="width: 100%" name="StartDate" />
                        <span id="edit_sd_empty_error" class="text-danger small" style="display:none">Start Date Required</span>
                        <br />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label class="label" for="edit_end_date"><b>End Date </b></label>
                        <input type="date" id="edit_end_date" class="form-control" style="width: 100%" name="EndDate" />
                        <span id="edit_ed_empty_error" class="text-danger small" style="display:none">End Date Required</span>
                        <br />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a class="btn btn-primary" id="btnSaveEdit">Save Changes</a>
            </div>
        </div>
    </div>
</div>


<link href="~/lib/datatables/datatables.min.css" rel="stylesheet" />
@section scripts
    {

    <script src="~/lib/datatables/datatables.min.js"></script>
    <script>
        $(document).ready(function () {

            var DataTable = null;

            function getAll() {
                $.blockUI({ message: '<p>Loading..</p>' });
                $.ajax({
                    type: "GET",
                    url: "/Terms/GetAllTerms",
                    success: function (result) {
                        $.unblockUI();
                        if (result) {
                            if (DataTable == null) {
                                initializeDataTable(result);
                            } else {
                                updateDataTable(result);
                            }
                        } else {
                            console.log("No Items found.");
                        }
                    },
                    error: function (error) {
                        $.unblockUI();
                    }
                });
            }

            function updateDataTable(updatedData) {
                DataTable.clear().rows.add(updatedData).draw();
            }

            function initializeDataTable(data) {
                DataTable = $('#terms').DataTable({
                    data: data,
                    columns: [
                        {
                            title: 'Term name',
                            data: 'termName'
                        },
                        {
                            title: 'Start Date',
                            render: function (data, type, row, meta) {
                                return row.startDate != null ? new Date(row.startDate).toLocaleDateString() : "";
                            }

                        },
                        {
                            title: 'End Date',
                            render: function (data, type, row, meta) {
                                return row.endDate != null ? new Date(row.endDate).toLocaleDateString() : "";
                            }
                        },
                        {
                            title: 'Action',
                            render: function (data, type, row, meta) {
                                var text = '<div style="display:flex; justify-content:space-around">';
                                text += `<a href="#" class="btn-icon-split btn-sm btn btn-warning js-update" data-id="${row.id}">
                                                                                                            <span class="icon text-white-50" data-id="${row.id}"><i class='fa fa-pencil' style='color: white' data-id="${row.id}"></i></span>
                                                        </a>
                                                                        <a href="#" class="btn-icon-split btn-sm btn btn-danger js-delete" data-id="${row.id}">
                                                                                            <span class="icon text-white-50"  data-id="${row.id}"><i class="fa fa fa-trash" style='color: white'  data-id="${row.id}"></i></span>
                                                        </a>`;
                                text += '</div>'
                                return text;
                            }
                        },
                    ]
                });
            }

            getAll();

            function validateForm() {
                var termName = $("#term_name").val();
                var startDate = $("#start_date").val();
                var endDate = $("#end_date").val();
                var isValid = true;

                // Check if Term Name is empty
                if (termName === "") {
                    $("#term_empty_error").show();
                    isValid = false;
                } else {
                    $("#term_empty_error").hide();
                }

                // Check if Start Date is empty
                if (startDate === "") {
                    $("#sd_empty_error").show();
                    isValid = false;
                } else {
                    $("#sd_empty_error").hide();
                }

                // Check if End Date is empty
                if (endDate === "") {
                    $("#ed_empty_error").show();
                    isValid = false;
                } else {
                    $("#ed_empty_error").hide();
                }

                return isValid;
            }

            $('#addNew').on('click', function (e) {
                $('#addNewModal').modal('show');
                $('#addNewModal').on('hidden.bs.modal', function () {
                    $('#term_name').val('');
                    $('#term_empty_error').css("display", "none");

                    $('#start_date').val('');
                    $('#end_date').val('');
                    $('#sd_empty_error').css("display", "none");
                    $('#ed_empty_error').css("display", "none");
                });

                $('#btnSaveitem').on('click', function (e) {
                    if (!validateForm()) {
                        return;
                    } else {
                        var data = {
                            termName: $("#term_name").val(),
                            startDate: $("#start_date").val(),
                            endDate: $("#end_date").val()
                        };
                        $.ajax({
                            type: "POST",
                            data: data,
                            url: "/Terms/Create",
                            dataType: "json",
                            success: function (result) {
                                if (result) {
                                    $('#term_name').val();
                                    $('#addNewModal').modal('hide');
                                    swal({
                                        title: 'Term Added!',
                                        text: 'Successfully Created!',
                                        option: "success",
                                        icon: "success",
                                        timer: 3000
                                    });
                                    getAll();
                                } else {
                                    swal({
                                        title: 'Term Addition Failed!',
                                        text: 'Could Not be Added!',
                                        option: "error",
                                        icon: "error",
                                        timer: 3000
                                    });
                                }
                            }
                        });
                    }
                });
            });

            function populateEditModal(id) {
                $.ajax({
                    url: "/Terms/Details/" + id,
                    type: "GET",
                    success: function (data) {
                        if (data) {
                            $("#edit_term_Id").val(id);
                            $("#edit_term_name").val(data.termName);

                            var startDate = new Date(data.startDate);
                            var endDate = new Date(data.endDate);

                            // Set the date input values
                            $("#edit_start_date").val(startDate.toISOString().split('T')[0]);
                            $("#edit_end_date").val(endDate.toISOString().split('T')[0]);

                            $("#editModal").modal("show");
                        } else {
                            swal({
                                title: 'No details found!',
                                text: 'Could Not find details!',
                                option: "error",
                                icon: "error",
                                timer: 3000
                            });
                        }
                    },
                    error: function () {
                        swal({
                            title: 'No details found!',
                            text: 'Could Not find details!',
                            option: "error",
                            icon: "error",
                            timer: 3000
                        });
                    }
                });
            }

            $("#terms").on("click", ".js-update", function (e) {
                var termId = $(this).data("id");
                populateEditModal(termId);
            });

            function updateTerm(updatedData) {
                $.ajax({
                    url: "/Terms/Update",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify(updatedData),
                    success: function (response) {
                        if (response === true) {
                            // Term updated successfully, close the edit modal
                            $("#editModal").modal("hide");
                            swal({
                                title: 'Term Updated!',
                                text: 'Successfully Updated!',
                                option: "success",
                                icon: "success",
                                timer: 3000
                            });
                            getAll();
                        } else {
                            swal({
                                title: 'Term Update Failed!',
                                text: 'Could Not be Updated!',
                                option: "error",
                                icon: "error",
                                timer: 3000
                            });
                        }
                    },
                    error: function () {
                        swal({
                            title: 'Term Update Failed!',
                            text: 'Could Not be Updated!',
                            option: "error",
                            icon: "error",
                            timer: 3000
                        });
                    }
                });
            }

            // Handle Save Changes button click in the Edit Modal
            $("#btnSaveEdit").click(function () {
                var updatedData = {
                    Id: parseInt($("#edit_term_Id").val(), 10),
                    TermName: $("#edit_term_name").val(),
                    StartDate: $("#edit_start_date").val(),
                    EndDate: $("#edit_end_date").val()
                };
                updateTerm(updatedData);
            });

            $("#terms").on("click", ".js-delete", function (e) {
                var data = {
                    id: $(e.target).data('id')
                };
                swal({
                    title: "Comfirmation",
                    text: "Are you sure you want to delete the Term!",
                    icon: "warning",
                    buttons: [
                        'No',
                        'Yes'
                    ],
                    dangerMode: true,
                }).then(function (isConfirm) {
                    if (isConfirm) {
                        $.blockUI({ message: '<p> Loading..</p>' });
                        $.ajax({
                            type: "DELETE",
                            data: data,
                            url: "/Terms/DeleteTerm",
                            dataType: "json",
                            success: function (result) {
                                $.unblockUI();
                                if (result) {
                                    swal({
                                        title: 'Term Deleted!',
                                        text: 'Successfully Deleted!',
                                        option: "success",
                                        icon: "success",
                                        timer: 3000
                                    });
                                    getAll();
                                } else {
                                    swal({
                                        title: 'Term Deletion Failed!',
                                        text: 'Could Not be Deleted!',
                                        option: "error",
                                        icon: "error",
                                        timer: 3000
                                    });
                                }
                            }
                        });
                    } else {
                        swal("Cancelled", "Term Not deleted", "error");
                    }
                })
            });
        });

    </script>
}