@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-user-circle img-profile rounded-circle" aria-hidden="true"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            @*<li>
                <a href="@Url.Action("Index", "Manage")" class="dropdown-item">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    <span>
                        My Profile
                    </span>
                </a>
            </li>
        <li><hr class="dropdown-divider"></li>*@
            <li>
                <form asp-area="Identity" class="dropdown-item" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class=" nav-link btn btn-link text-dark" style="padding-top: 0;padding-bottom: 0px; height: 25px;">
                        <span><i class="fas fa-sign-out fa-sm fa-fw mr-2 text-gray-400"></i> Logout</span>
                    </button>
                </form>
            </li>
        </ul>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
