<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bright Boost</title>
    <link href="~/lib/adminlte/dist/css/adminlte.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css">
    <style>
        .validation-summary-errors ul {
            list-style:none;
            padding-left: 0.5em;
        }
    </style>
</head>
<body class="hold-transition login-page" style="background-image: linear-gradient(180deg, #ffbb0f 10%, #86a5ff 100%);">

    <div class="login-box">

        <div class="card">
            <br/>
            <div class="text-center">
                <div class="sidebar-brand-icon rotate-n-15 py-2 text-gray-900" style="margin-bottom:0px">
                    <i class="fas fa-laugh-wink fa-3x"></i>
                </div>
                <h1 class="h3 text-gray-900 mb-4">
                    <strong>Bright Boost</strong>
                </h1>
            </div>
            <div class="card-body login-card-body" style="border-radius: 5px; padding-top: 0;">
                @RenderBody()
            </div>

        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/adminlte/dist/js/adminlte.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
