<div class="modal fade" id="@Model.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <table style="width: 100%">
                    <tr>
                        <td style="width: 100%">
                            <h4 class="modal-title" id="myModalLabel">Add</h4>
                        </td>
                    </tr>
                </table>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modalContentBody">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a class="btn btn-primary addItem" id="btn_@Model.Id">Save</a>
            </div>
        </div>
    </div>
</div>
