@{
    ViewBag.Title = "Timetable";
}

<div class="card card-outline card-primary">
    <div class="card-header">
        <div class="d-flex align-items-center">
            <h2 class="card-title">Calendar View</h2>

        </div>
    </div>
    <div class="card-body" style="padding:0px">
        <p style="padding:15px">All sessions run from 3:30 PM to 5:30 PM</p>
        <div id="calender"></div>
    </div>
</div>

<div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="eventModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="eventModalLabel">Event Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p><strong>Title:</strong> <span id="eventTitle"></span></p>
                <p><strong>Venue:</strong> <span id="eventDescription"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css" rel="stylesheet" />
<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.print.css" rel="stylesheet" media="print" />
<br />

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="~/js/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>

    <script>
        var events = [];
        var selectedEvent = null;
        FetchEventAndRenderCalendar();
        function FetchEventAndRenderCalendar() {
            events = [];

            $.blockUI({ message: '<p>Loading..</p>' });
            $.ajax({
                type: "GET",
                url: `/Expertises/GetAllMySessions`,
                success: function (result) {
                    $.unblockUI();
                    if (result.sessions) {
                        $.each(result.sessions, function (i, v) {
                            events.push({
                                eventID: v.id,
                                title: v.sessionName,
                                description: v.sessionName,
                                start: moment(v.startTime),
                                end: v.EventEnd != null ? moment(v.startTime) : null,
                                allDay: false,
                                venue: v.sessionVenue
                            });
                        })
                        GenerateCalender(events);
                    } else {
                        console.log("No Items found.");
                    }
                },
                error: function (error) {
                    $.unblockUI();
                }
            });
        }

        function GenerateCalender(events) {

            $('#calender').fullCalendar('destroy');
            $('#calender').fullCalendar({
                contentHeight: 600,
                themeSystem: 'bootstrap',
                defaultDate: new Date(),
                timeFormat: 'h(:mm)a',
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,basicWeek,basicDay'
                },
                eventLimit: true,
                eventColor: '#378006',
                events: events,
                eventClick: function (calEvent, jsEvent, view) {
                    $('#eventTitle').text(calEvent.title);
                    $('#eventDescription').text(calEvent.venue);
                    // Populate other event details as needed
                    $('#eventModal').modal('show');
                },
                eventStartEditable: false,
                selectable: true,
                editable: true,
                displayEventTime: false,
                eventRender: function (event, element) {
                    element.css('font-size', '16px'); // Adjust font size
                    element.css('padding', '5px');     // Adjust padding
                    element.css('white-space', 'normal'); // Allow text to wrap
                    element.css('overflow', 'hidden');   // Hide any overflowing text
                    element.css('text-overflow', 'ellipsis'); // Show ellipsis (...) for overflow
                }
            })
        }

    </script>
}