@{
    ViewBag.Title = "Retailer Groups  Management";
    ViewBag.description = "Retailer";
    ViewBag.addModalId = "groupModal";
}

<div class="card">
    <div class="card-header">
        <div class="d-flex align-items-center">
            <h3 class="mr-auto">@ViewBag.description Management</h3>
            <div class="btn-group" role="group">
                <button id="addNew" class="btn btn-primary"> <i class='fa fa-plus' style='color: white'></i> Add</button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table id="@ViewBag.description" class="table table-bordered table-striped" style="border-spacing: 0;" width="100%"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />

@Html.Partial("~/Views/Shared/_ModalTemplate.cshtml", new { Id = @ViewBag.addModalId})

<link href="~/lib/datatables/datatables.min.css" rel="stylesheet" />
<link href="~/css/geocode.css" rel="stylesheet" />
@section scripts
    {

    <script src="~/lib/datatables/datatables.min.js"></script>
    <script src="~/js/geocode.js"></script>
    <script src="~/js/helperfunctions.js"></script>
    <script>
        $(document).ready(function () {
            
            var url = "RetailerGroups/GetAllRetailer";
            var tableId = `#@ViewBag.description`;
            var modalAddId = `@ViewBag.addModalId`;

            var fields = [
                { id: 'GroupName', attribute: 'groupName', class: 'form-control', label: 'Group Name', placeHolder: 'Group Name', HtmlType: 'input', inputType: 'text', visible: true, isRequired: true },
                { id: 'FormattedAddress', attribute: 'formattedAddress', class: 'form-control', label: 'formattedAddress', placeHolder: 'formattedAddress', HtmlType: 'input', inputType: 'text', visible: false, isRequired: true },
                { id: 'Latitude', attribute: 'latitude', class: 'form-control', label: 'latitude', placeHolder: 'latitude', HtmlType: 'input', inputType: 'number', visible: false, isRequired: true },
                { id: 'Longitude', attribute: 'longitude', class: 'form-control', label: 'longitude', placeHolder: 'longitude', HtmlType: 'input', inputType: 'number', visible: false, isRequired: true },
                { id: 'autocomplete-container', attribute: 'formattedAddress', class: 'autocomplete-container', label: 'Address', placeHolder: 'Address', HtmlType: 'div', inputType: null, visible: true, isRequired: false },
                { id: 'ContactName', attribute: 'contactName', class: 'form-control', label: 'Contact Name', placeHolder: 'Contact Name', HtmlType: 'input', inputType: 'text', visible: true, isRequired: true },
                { id: 'ContactEmail', attribute: 'contactEmail', class: 'form-control', label: 'Contact Email', placeHolder: 'Contact Email', HtmlType: 'input', inputType: 'email', visible: true, isRequired: true },
                { id: 'ContactPhone', attribute: 'contactPhone', class: 'form-control', label: 'Contact Phone', placeHolder: 'Contact Phone', HtmlType: 'input', inputType: 'text', visible: true, isRequired: true },
            ];

            var columns =[
                {
                    title: 'Group Name',
                    data: 'groupName'
                },
                {
                    title: 'Action',
                    render: function (data, type, row, meta) {
                        var text = '<div style="display:flex; justify-content:space-around">';
                        text += `<a href="#" class="btn-icon-split btn-sm btn btn-warning js-update" data-id="${row?.id}">
                                <span class="icon text-white-50" data-id="${row?.id}"><i class='fa fa-pencil' style='color: white' data-id="${row?.id}"></i></span>
                                </a>
                                <a href="#" class="btn-icon-split btn-sm btn btn-danger js-delete" data-id="${row?.id}">
                                <span class="icon text-white-50"  data-id="${row?.id}"><i class="fa fa fa-trash" style='color: white'  data-id="${row?.id}"></i></span>
                                </a>`;
                        text += '</div>'
                        return text;
                    }
                },
            ];

            getAll(url, tableId, columns);

            createForm("Add Group", 'modalContentBody', fields, () => {
                addressAutocomplete(document.getElementById("autocomplete-container"), (data) => {
                    $('#Latitude').val(data?.properties?.lat);
                    $('#FormattedAddress').val(data?.properties?.formatted);
                    $('#Longitude').val(data?.properties?.lon);
                }, {
                    placeholder: "Enter an address here"
                });                
            });

            showModalAndRegisterEventListener('#addNew', modalAddId, 'RetailerGroups/CreateRetailer', 'Group', () => { $('#address').val('');});

            $(tableId).on("click", ".js-update", function (e) {
                var Id = $(this).data("id");
                renderUpdateData(`RetailerGroups/Details?id=${Id}`, () => { $('#address').val($('#FormattedAddress').val()) });
                $(`#btn_${modalAddId}`).data('id', Id);
                $(`#${modalAddId}`).modal('show');
            });

            $(tableId).on("click", ".js-delete", function (e) {
                var Id = $(this).data("id");
                deleteData(`RetailerGroups/DeleteRetailer?id=${Id}`);
            });

        });

    </script>
}