@model BrightBoostApplication.Models.ViewModel.SessionViewModel
@{
    ViewBag.Title = "Session Page";
}

<div class="card">
    <div class="card-header">
        <div class="d-flex align-items-center">
            <h3 class="mr-auto">Session Details</h3>
        </div>
    </div>
    <div class="card-body">
        <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
            <div class="row">
                <div class="col-sm-12">
                    <p>All sessions run from 3:30 PM to 5:30 PM</p>
                    <div class="table-responsive" id="sessionsTable">
                        <table id="sessionsCourse" class="table table-bordered table-striped" style="border-spacing: 0;" width="100%"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br />

<link href="~/lib/datatables/datatables.min.css" rel="stylesheet" />
@section scripts
    {

    <script src="~/lib/datatables/datatables.min.js"></script>
    <script>
        $(document).ready(function () {

            var sessionsDataTable = null;
            var sessionID = @Model.Id;

            function getAllSessions() {
                $.blockUI({ message: '<p>Loading..</p>' });
                $.ajax({
                    type: "GET",
                    url: "/Tutors/GetSessions?id=" + sessionID,
                    success: function (result) {
                        $.unblockUI();
                        if (result) {
                            $('sessionsTable').html("");
                            $('sessionsTable').html(` <table id="sessionsCourse" class="table table-bordered table-striped" style="border-spacing: 0;" width="100%"></table>`);
                            initializeDataTable(result);

                        } else {
                            console.log("No sessions found.");
                        }
                    },
                    error: function (error) {
                        $.unblockUI();
                    }
                });
            }

            function updateDataTable(updatedData) {
                sessionsDataTable.clear().rows.add(updatedData).draw();
            }

            function initializeDataTable(result) {
                sessionsDataTable?.destroy();
                sessionsDataTable = $('#sessionsCourse').DataTable({
                    data: result,
                    columns: [
                        {
                            title: 'Session Name',
                            data: 'sessionName'
                        },
                        {
                            title: 'Date',
                            render: function (data, type, row, meta) {
                                return row.startTime != null ? new Date(row.startTime).toLocaleDateString() : "";
                            }

                        },
                        {
                            title: 'Session Day',
                            data: 'sessionDay'
                        },
                        {
                            title: 'Session Venue',
                            data: 'sessionVenue'
                        },
                        {
                            title: 'Attendance',
                            render: function (data, type, row, meta) {
                                var text = row.attendance > 0 ? row.attendance: "Not Marked";
                                return text;
                            }
                        },
                        {
                            title: 'Action',
                            render: function (data, type, row, meta) {
                                var text = '<div style="display:flex; justify-content:space-around">';
                                text += `<a href="/TutorQuestions/Index?SessionId=${row?.id}&SessionDateTime=${row.startTime}" class="btn-icon-split btn-sm btn btn-secondary js-update">
                                                            <span class="icon text-white-50"><i class='fa fa-eye' style='color: white'></i></span>
                                                                                    </a>
                                
                                <a href="/Attendance/Index?sessionId=${row?.id}&AttendanceDateTime=${row.startTime}" class="btn-icon-split btn-sm btn btn-info js-update">
                                            <span class="icon text-white-50"><i class='fa fa-check' style='color: white'></i></span>
                                                                    </a>`;
                                text += '</div>'
                                return text;
                            }
                        },
                    ]
                });
            }

            getAllSessions();

        });

    </script>
}