@model BrightBoostApplication.Models.Tutor
@{
    ViewBag.Title = "Tutor Dashboard";
    ViewBag.description = "tutorTerms";
}

<div class="card">
    <div class="card-header">
        <div class="d-flex align-items-center">
            <h3 class="mr-auto">My Courses</h3>
        </div>
    </div>
    <div class="card-body">
        <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table id="@ViewBag.description" class="table table-bordered table-striped" style="border-spacing: 0;" width="100%"></table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<br />

<link href="~/lib/datatables/datatables.min.css" rel="stylesheet" />
<link href="~/lib/select2/dist/css/select2.min.css" rel="stylesheet" />
<link href="~/css/styles.css" rel="stylesheet" />
@section scripts
    {

    <script src="~/lib/datatables/datatables.min.js"></script>
    <script src="~/lib/select2/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {

            var DataTable = null;

            function getAll() {
                $.blockUI({ message: '<p>Loading..</p>' });
                $.ajax({
                    type: "GET",
                    url: `/Tutors/MyAllocation`,
                    success: function (result) {
                        $.unblockUI();
                        if (result) {
                            if (DataTable == null) {
                                initializeDataTable(result);
                            } else {
                                updateDataTable(result);
                            }
                        } else {
                            console.log("No Items found.");
                        }
                    },
                    error: function (error) {
                        $.unblockUI();
                    }
                });
            }

            function updateDataTable(updatedData) {
                DataTable.clear().rows.add(updatedData).draw();
            }

            function initializeDataTable(data) {
                DataTable = $(`#@ViewBag.description`).DataTable({
                    data: data,
                    columns: [
                        {
                            title: 'Subject name',
                            data: 'subjectName'
                        },
                        {
                            title: 'Action',
                            render: function (data, type, row, meta) {
                                var text = '<div style="display:flex; justify-content:space-around">';
                                text += `<a href="/Tutors/Course?id=${row?.termCourseId}" class="btn-icon-split btn-sm btn btn-secondary js-update" data-id="${row?.termCourseId}">
                                                                        <span class="icon text-white-50" data-id="${row?.termCourseId}"><i class='fa fa-eye' style='color: white' data-id="${row?.termCourseId}"></i></span>
                                                                                                </a>`;
                                text += '</div>'
                                return text;
                            }
                        },
                    ]
                });
            }

            getAll();

        });

    </script>
}
